$colors: (
    dark: #192127,
    customblue: #85b6bf,
    customgreen: #5bc197,
    custompink: #c481a2,
    body:
        linear-gradient(183.48deg, #192127 2.87%, rgba(25, 33, 39, 0.8) 98.77%),
);
$font-sizes: (
    main-bigscreen: 1.5rem,
    title-bigscreen: 2rem,
    main-smallscreen: 1.2rem,
    title-smallscreen: 1.5rem,
);

* {
    margin: 0;
    padding: 0;
}
.text-main {
    font-size: map-get($font-sizes, main-bigscreen);
    width: 80%;
    margin: auto;
    padding: 0.5rem;
}
.text-title {
    font-size: map-get($font-sizes, title-bigscreen);
    color: map-get($colors, customgreen);
    text-align: center;
    margin: 1rem;
}
.app {
    height: 100vh;
    background: map-get($colors, body);
    color: map-get($colors, customblue);
    display: flex;
    justify-content: center;
    align-items: center;

    #{&}__card {
        background-color: map-get($colors, dark);
        width: 70vw;
        height: 80vh;
        border-radius: 1rem;
    }
}
.start {
    #{&}__start-btn {
        background: map-get($colors, customgreen);
        width: 7.5rem;
        margin-top: 1rem;
    }
}
.question {
    #{&}__answer-btn {
        background: map-get($colors, customblue);
        width: 50vw;
        margin-top: 1rem;
    }
    #{&}__answer-btn.selected {
        background: map-get($colors, customgreen);
    }
    #{&}__content {
        margin-top: 1rem;
    }
    #{&}__next-btn {
        background: map-get($colors, customgreen);
        width: 20vw;
        margin-top: 2rem;
    }
}
.result {
    #{&}__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
        margin: 2rem auto;
    }

    #{&}__quit-btn {
        background: map-get($colors, customblue);
        width: 7.5rem;
        margin-top: 1rem;
    }
}
.difficulty {
    #{&}__easy {
        text-align: center;
        color: map-get($colors, dark);
        width: 20vw;
        background-color: map-get($colors, customgreen);
    }
    #{&}__middle {
        text-align: center;
        color: map-get($colors, dark);
        width: 20vw;
        background-color: map-get($colors, customblue);
    }
    #{&}__hard {
        text-align: center;
        color: map-get($colors, dark);
        width: 20vw;
        background-color: map-get($colors, custompink);
    }
}
.button {
    border: none;
    border-radius: 0.5em;
    color: map-get($colors, dark);
    display: block;
    margin: auto;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    transform: translateY(4px);
}

@media (max-width: 900px) {
    .text-main {
        font-size: map-get($font-sizes, main-smallscreen);
    }
    .text-title {
        font-size: map-get($font-sizes, title-smallscreen);
    }
    .app {
        #{&}__card {
            width: 90vw;
            height: 90vh;
        }
    }
    .question {
        #{&}__answer-btn {
            width: 70vw;
        }
    }
}
